<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>API de Vérification des Numéros</title>
	</head>
	<body>
		<h1>Bienvenue sur l'API de vérification des numéros de téléphone !</h1>
		<p>
			Cette API vous permet de récupérer des informations détaillées sur un
			numéro de téléphone, telles que :
		</p>
		<ul>
			<li>Le pays d'origine</li>
			<li>L'opérateur de télécommunication</li>
			<li>Les coordonnées</li>
			<li>La validité du numéro</li>
			<li>Le type de numéro de téléphone</li>
		</ul>

		<p><strong>Comment utiliser l'API :</strong></p>
		<ul>
			<li><strong>URL de base :</strong> <code>/phone-info</code></li>
			<li>
				<strong>Méthode GET :</strong> Envoyez une requête vers
				<code>/phone-info</code> avec le paramètre <code>?phone_number=</code>
				Exemple :
				<code>/phone-info?phone_number=+918897909596</code>
			</li>
			<li>
				<strong>Méthode POST :</strong> Envoyez un corps JSON vers
				<code>/phone-info</code>
				Exemple :
				<pre>
{
    "phone_number": "+918897909596"
}</pre
				>
			</li>
		</ul>

		<p><strong>Exemple de réponse JSON :</strong></p>
		<pre>
{
    "phone_number": "+918897909596",
    "country_code": 91,
    "national_number": "8897909596",
    "location": "India",
    "service_provider": "Airtel",
    "is_valid_number": true,
    "number_type": "MOBILE"
}</pre
		>

		<p>L'heure actuelle est {{ current_time }} GMT.</p>
		<p>
			Pour plus d'informations ou pour rendre le service payant,
			<a
				href="mailto:fabricetoyi87@gmail.com"
				target="_blank">
				contactez-nous
			</a>
			!
		</p>
	</body>
</html>
